@import '~antd/dist/antd.css';

.ant-layout {
  min-height: 100vh;
}

.title {
  color: #fff;
  text-align: center;
}

.container {
  padding: 20px 60px;
}

.wrap {
  display: flex;
  height: 320px;
  width: 100%;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .container {
    padding: 16px;
  }
}